*{
    -fx-text-fill: white;
    -fx-background-color:#2b2a2a;
    -fx-text-alignment: center;
    -fx-size:200%;
}
.textField, .points, .attempts, .label, .messageLabel{
    -fx-padding-left: 1px;  
    -fx-padding-right: 1px;
    -fx-background-radius: 2px;
    -fx-effect: dropshadow(three-pass-box, rgba(138, 138, 138, 0.274), 10, 0, 0, 0);
}
.button, .restart, .home {
    -fx-border-color:rgb(47, 238, 47);
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
}
.textField{
    -fx-text-alignment: center;
    -fx-padding-left: 50%;
    -fx-padding-right: 50%;
}
.root {
    -fx-background-color:#1E1E1E;
    -fx-border-width: 10px;
    -fx-border-radius: 15px;
    -fx-font-family: sans-serif, bold;
    -fx-font-size:2.25em;
    -fx-background-color:#1E1E1E;
}
.label{
    -fx-background-color: #00000000;
}